/*Fonts*/
@font-face {
    font-family: "Bounded";
    src: url('../fonts/Bounded-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bounded";
    src: url('../fonts/Bounded-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Bounded";
    src: url('../fonts//Bounded-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Bounded";
    src: url('../fonts/Bounded-Light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Kintsugi";
    src: url('../fonts/Kintsugi_LVRG-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "X-TYPEWRITER";
    src: url('../fonts/XTypewriter-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Base */
html {
    font-family: 'Circe', sans-serif;
    color: #F1E2D2;
    font-size: 0.520835vw;
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
body {
    font-style: normal;
    font-weight: normal;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


input,
textarea {
    -webkit-animation: bugfix infinite 1s;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
a {
    color: unset;
}
a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    cursor: pointer;
    font: inherit;
}
textarea:focus {
     outline: none;
 }
textarea:active {
     outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    padding: 0;
    background-color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
  width: 100%;
  max-width: 172.8rem;  
  margin: 0 auto;
  padding: 0.4rem;    
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* Contacts */
.page{
    position: relative;
    background-color: rgb(0, 0, 0);
}
.page__texture{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
    pointer-events: none;
}
.hero{
    position: relative;
    background-color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Bounded', 'Circe', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    line-height: 1;
    min-height: 0;

}
.hero__inner{
    position: absolute;
    inset: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
}
.hero__frame{
    position: absolute;
    object-fit: contain;
    object-position: top center;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero__bg,
.hero__lines{
  position: absolute;
  inset: 4rem;   
  width: calc(100% - 8rem); 
  height: calc(100% - 8rem);      
}

.hero__bg{
    z-index: 2;
    object-fit: cover;
    object-position: center              
}
.hero__lines{
z-index: 3;
object-fit: cover; 
object-position: top center;
}
.site-header{
    position: relative;
}
.hero__content{
    position: relative;
     z-index: 4;
}
.hero--contacts{
    min-height: 0; 
    height: 108rem;
    position: relative;
    overflow: hidden;
}
.top-icon{
    width: 1.8rem;
    height: 1.8rem;
}
.site-header__top{
    margin: 4rem 0 0 0;
    padding: 2rem 0 0 0;
}
.site-header__top-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
}
.site-header__top--item{
    
}
.site-header__top-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}
.site-header__top-phone{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.site-header__top-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-header__top-center-location{
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;
}
.site-header__top-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;      
    gap: 6rem;
}
.site-header__top-language{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.site-header__top-ru,
.site-header__top-en{
    opacity: 0.6;
}
.site-header__top-ru{
    opacity: 1;
}
.site-header__top-book{
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1.6rem;
    padding-bottom: 1.2rem;
}
.site-header__top-book::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0.2rem;
    background: currentColor;
    opacity: 0.9;
}
.site-header__nav{

}
.site-header__menu{
    display: grid;
    grid-template-columns: auto auto 1fr auto auto; 
    align-items: start;
    column-gap: 11rem;
}
.site-header__menu-list{
    display: flex;
    align-items: center;
    gap: 12rem;
}
.site-header__menu-item{

}

.site-header__menu-list--left, 
.site-header__menu-list--right{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-top: 4.3rem;
}
.site-header__menu-list--right{
    align-items: flex-start
}
.site-header__menu-list--center1,
.site-header__menu-list--center2{
    padding-top: 4.3rem;
}
.site-header__menu-link{
    position: relative;
    display: inline-block;
    padding-top: 1.6rem;
}
.site-header__menu-link::after{
    position: absolute;
    content: '';
    left: -1rem;
    right: -1rem;
    top: 0;
    height: 0.1rem;
    background: currentColor;
    opacity: 0.6;
}
.site-header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-header__logo-img{
    width: 18.8rem;
    height: auto;
    display: block;
}



.hero__main{
  padding-top: 11.5rem; 
}

.contacts{
  position: relative;
}

.contacts__title{
    font-family: 'Kintsugi', 'Circe', sans-serif;
    font-weight: 400;
    font-size: 5.4rem;     
    text-align: center;
    letter-spacing: 0.01em;
    line-height: 130%;
    margin-bottom: 4.6rem;
}

.contacts__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 14rem;
  row-gap: 4rem;
  min-height: 60rem; 
}


.contacts__badge{
  grid-column: 1;
  grid-row: 2;
  align-self: start;
  justify-self: end;

}

.contacts__badge-img{
  width: 15rem; 
  height: auto;
transform: translateY(-9rem); 
}

.contacts__main{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 7rem;   
    font-size: 2.2rem;      
    
}

.contacts__block{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contacts__label{
  color: #DE4300; 
  font-weight: 700;
  letter-spacing: 0.02em;

}

.contacts__phone{
  font-weight: 500;
text-transform: none;
}

.contacts__email{
  font-weight: 500;
  text-transform: none; 
}

.contacts__note{
  grid-column: 3;
  grid-row: 2;
  align-self: start;
    font-family: 'X-TYPEWRITER', Courier, monospace;
    text-transform: none;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: -0.02rem;
    line-height: 1.1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;         
    gap: 1.5rem;
    transform: translateY(-4rem); 
    
}


/* Footer*/
.site-footer{
    position: relative;
    text-transform: uppercase;
    font-family: 'Bounded', 'Circe', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: 0.065em;
    line-height: 1;
    margin-top: 13rem;
}
.site-footer__top-nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.site-footer-img{
    width: 15.6rem;
}
.site-footer__top-list{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;    
    position: relative;  
    padding-top: 1.8rem;  
}
.site-footer__top-list::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.2rem;
    width: 22rem;
    background: currentColor;
}
.site-footer__top-right-nav .site-footer__top-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.2rem;
    width: 37rem;
    background: currentColor;
}
.site-footer__middle{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 45rem; 
    column-gap: 5.5rem;
    align-items: start;
}

.site-footer__middle-left{
    display: flex;
    flex-direction: column;         
    justify-content: space-between;
    min-height: 38rem;

}
.site-footer__middle-left-social{
    display: flex;
    gap: 0.6rem;
    align-items: center;

}
.site-footer__middle-right{

}
.site-footer__middle-left-icon{
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-footer__middle-left-icon-img{
    width: 3.3rem;
    height: 3.3rem;
}
.site-footer__middle-left-icon-img--vk{
    width: 4.8rem;
    height: 4.8rem;

}
.site-footer__middle-left-questions{
    font-size: 1.6rem;
    letter-spacing: 0.02em;
    line-height: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.site-footer__middle-left-text{
    opacity: 50%;
    text-transform: none;
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 0.04rem;
    line-height: 1.1;
}


.site-footer__middle-left-request{
    width: 123rem;
    height: 10.6rem;
}
.site-footer__middle-right-map{
    position: relative;
}
.site-footer__map{
    width: 44rem;
    
}
.site-footer__map-badge{
    width: 8.4rem;
    position: absolute;
    top: -4rem; 
    left: -4rem;
}
.site-footer__down{
    padding: 3.5rem 0 2rem 0;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.4rem;
}
.site-footer__down-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-footer__down-inner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.01rem;
    background: currentColor;
    opacity: 30%;
}
.site-footer__down-left{
    opacity: 50%;
}
.site-footer__down-center{
    opacity: 50%;
}
.site-footer__down-right{
    opacity: 50%;
}

/* Mobile */
.site-header__mobile{
    display: none;
}
.contacts-container__mobile{
    display: none;
}
.hero__frame-mobile{
    display: none;
}
.hero__bg-mobile{
    display: none;
}
.site-footer-mobile{
    display: none;
}


/* Adaptive */

  @media (max-width: 768px) {
    html { 
    font-size: clamp(10px, (10 * 100vw / 375), 20px);
    }
    html, body {
        overflow-x: hidden;
    }
    .container {
        padding: 0;
    }
    .hero--contacts{
        position: relative;
    }
    .site-header__top{
        display: none;
    }
    .site-header__nav{
        display: none;
    }
    .hero__frame{
        display: none;
    }
    .hero__lines{
        display: none;
    }
    .hero__bg{
        display: none;
    }
    .contacts__container{
        display: none;
    }
    .site-footer__inner{
        display: none
    }
    .hero--contacts {
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .hero__content{
        margin: 2.4rem 1.6rem 0 1.6rem;

    }
    .hero__inner {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }
    .hero__frame-mobile{
        display: flex;  
        position: absolute;
        inset: 0.8rem 0 0 0 ;
        object-fit:contain;
        object-position: center;
        z-index: 4;
    }

    .hero__bg-mobile {
        display: block;
        position: absolute;
        inset: 3.5rem 1.6rem;
        object-fit: cover;
        object-position: right center;
        z-index: 2;
        width: calc(100% - 3.2rem);
   }
    .site-header__mobile {
        display: flex;               
        align-items: center;
        justify-content: space-between;;             
        background: rgba(0, 0, 0, 0.35);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(12px);
        padding: 0 1.6rem;
    }
    .site-header__mobile-btn{
        width: 2.4rem;
        height: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #F1E2D2;
    }
    .site-header__mobile-btn1{
        width: 1.65rem;
        height: auto;
    }
    .site-header__mobile-btn2{
        width: 1.8rem;
        height: auto;
    }
    .site-header__mobile-logo{
        width: 5.2rem;
        transform: translateY(0.4rem);
        
    }
    .hero__main{
        padding: 4.2rem 0 2rem 0 ;
    }
    .contacts-container__mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1.6rem;

    }
    .contacts__badge{
        align-self: flex-end;
        margin-right: 2.8rem;
    }
    .contacts__badge-img{
        width: 8.4rem;
        height: auto;
        transform: none;

    }
    .contacts__title-mobile{
        font-size: 2.4rem;
        margin-top: 7.8rem;
        margin-bottom: 0;
        letter-spacing: -0.01rem;
    }
    .contacts-container-contact-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4.3rem;
        margin-top: 5.2rem;
    }
    .contacts-container-contact-block1, 
    .contacts-container-contact-block2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .contacts__label{
  font-weight: 400;
  font-size: 1.6rem;
  display: flex;
  text-align: center;
  letter-spacing: 0.04rem;
  line-height: 1.1;


}
.contacts__phone{
  font-weight: 400;
  font-size: 1.4rem;
margin-top: 1.2rem;
  text-align: center;
  letter-spacing: -0.04rem;
  line-height: 1;

}
.contacts__email{
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  letter-spacing: -0.04em;
}
.contacts-container-note{
    font-family: 'X-TYPEWRITER', Courier, monospace;
    text-transform: none;
    font-weight: 400;
    font-size: 1.2rem;
    letter-spacing: -0.02rem;
    line-height: 1.1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;         
    gap: 1.2rem;
    margin-top: 4.1rem;


}
.site-footer-mobile{
    display: flex;
    flex-direction: column;

}
.site-footer-mobile{
    display: flex;
    flex-direction: column;
    margin: 6.9rem 1.6rem;
}
.site-footer-img{
    width: 10rem;
    height: auto;
}
.site-footer-mobile-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.4rem;
    width: 10rem;
    margin-top: 0.8rem;

}
.site-footer-mobile-icon-img{
    width: 1.6rem;
    height: auto;
}
.site-footer-mobile-icon-img--vk{
    width: 2.4rem;
    height: auto;
}
.site-footer-mobile-nav,
.site-footer-mobile-list1{
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: -0.02rem;
}
.site-footer__top-list::before{
    width: 34.3rem;
}
.site-footer-mobile-list1{
    margin-top: 2rem;
}
.site-footer__top-list{
    gap: 1.2rem;    
}
.site-footer-mobile-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4rem;
    gap: 1.7rem;
    }
.site-footer__top-list2::before{
    width: 16.4rem;
}
.site-footer__top-list3::before{
    width: 13.9rem;
}
.site-footer__top-list3{
    justify-content: left;
}
.site-footer-mobile-map{
    margin-top: 4rem;
}
.site-footer__map{
    width: 34.3rem;
    height: auto;
}
.site-footer__middle-left-questions{
    margin-top: 4rem;
}
.site-footer-mobile-title{
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: -0.04rem;
}
.site-footer-mobile-text{
    font-size: 1.2rem;
}
.site-footer-mobile-request{
    margin-top: 2rem;
    height: 12.5rem;
    width: auto;
}
.site-footer__down{
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: -0.02rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 4rem;
    padding-top: 0.8rem;
    padding-bottom: 0;
    align-items: flex-start;
}
.site-footer__down::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.01rem;
    background: currentColor;
    opacity: 30%;
    width: 34.3rem;
}
.page__texture{
    position: absolute;
    z-index: 3;
}
/* Burger menu */
  .mobile-menu[hidden]{ display:none; }

  .mobile-menu{
    position: fixed;
    inset: 0;
    z-index: 9999;
  }

  .mobile-menu__backdrop{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.55);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 1;
    touch-action: none;
  }

  .mobile-menu__panel{
    position: absolute;
    inset: 0;
    padding: 0.3rem 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2.3rem;
    z-index: 2;
    transform: translateZ(0);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    will-change: transform;     
  }

  .mobile-menu__top{
    display: grid;
    grid-template-columns: 3.2rem 1fr 3.2rem;
    align-items: center;
  }

  .mobile-menu__icon{
    width: 2.4rem;
    height: 2.4rem;
    display:flex;
    align-items:center;
    justify-content:center;
    background: transparent;
    border: 0;
  }
  .mobile-menu__icon1{
    width: 1.6rem;
    height: auto;
  }
    .mobile-menu__icon2{
    width: 1.3rem;
    height: auto;
  }
  .mobile-menu__logo img{ width: 5.2rem; margin: 0 auto; }

  .mobile-menu__nav{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: -0.04rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.6rem;
    z-index: 2;
  }
    .mobile-menu__link,
    .mobile-menu__sublink{
        display: block;              
        text-align: center;
        color: #F1E2D2; 
    }
  .mobile-menu__link{
    width: 100%;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
    position: relative;
  }
    .mobile-menu__sublink{
    width: 100%;
    position: relative;
  }
  .mobile-menu__link::before,
  .mobile-menu__sublink::before{
    content:"";
    position:absolute;
    left: 50%;
    transform: translateX(-50%) translateZ(0); 
    top: 0;
    height: 0.1px;
    background: #F1E2D2;
    opacity: 1;
    z-index: 5;
    pointer-events: none;
    height: 0.1rem;
  }
  .mobile-menu__link1::before{
    width: 16.4rem;

  }
  .mobile-menu__link2::before{
width: 18.7rem;
  }
  .mobile-menu__link3::before{
width: 14.6rem;
  }
  .mobile-menu__link4::before{
width: 16.8rem;
  }
  .mobile-menu__link5::before{
width: 7.3rem;
  }
  .mobile-menu__link6::before{
width: 11.6rem;
  }
  .mobile-menu__link7::before{
width: 25rem;
  }
  .mobile-menu__link8::before{
width: 20.7rem;
  }
  .mobile-menu__group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 ;
    width: 100%;
    color: rgba(241,226,210,.55);
    margin-top: -1.5rem;
    margin-bottom:0.8rem;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: -0.02;
  }
  /* JS */
html, body { height: 100%; }
body.is-menu-open{
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}
.mobile-menu__panel{
  overflow-y: auto;        
  -webkit-overflow-scrolling: touch;
}
}


